--only-binary :all:
thinc
blis

altair
annotated-types
anvil-uplink
appopener
asttokens
attrs
Automat
backcall
beautifulsoup4
blinker
cachetools
certifi
cffi
charset-normalizer
click
colorama
comm
comtypes
constantly
contourpy
cryptography
cssselect
cycler
debugpy
decorator
defusedxml
distlib
exceptiongroup
executing
filelock
Flask
Flask-Cors
fonttools
future
gensim
gitdb
GitPython
google
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-generativeai
googleapis-common-protos
grpcio
grpcio-status
h11
httplib2
hyperlink
idna
imbalanced-learn
incremental
ipykernel
ipython
itemadapter
itemloaders
itsdangerous
jedi
Jinja2
jmespath
joblib
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
kiwisolver
labelImg
lightgbm
lxml
markdown-it-py
MarkupSafe
mathparse
matplotlib
matplotlib-inline
mdurl
nest-asyncio
networkx
nltk
numpy
oauthlib
opencv-python
outcome
packaging
pandas
parsel
parso
pickleshare
Pillow
Pint
platformdirs
plotly
prompt-toolkit
Protego
proto-plus
protobuf
psutil
pure-eval
pyarrow
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
pydeck
PyDispatcher
Pygments
PyJWT
pymongo
pyOpenSSL
pyparsing
PySocks
python-dateutil
python-dotenv
pyttsx3
pytz

PyYAML
pyzmq
qt5-applications
qt5-tools
queuelib
referencing
regex
requests
requests-file
requests-oauthlib
rich
rpds-py
rsa
scikit-learn
scipy
Scrapy
seaborn
selenium
service-identity
six
smart-open
smmap
sniffio
sortedcontainers
soupsieve
SpeechRecognition
SQLAlchemy
stack-data
streamlit
tenacity
threadpoolctl
tldextract
toml
toolz
tornado
tqdm
traitlets
trio
trio-websocket
Twisted
typing_extensions
tzdata
uritemplate
urllib3
virtualenv
w3lib
watchdog
wcwidth
websocket-client
Werkzeug
wrapt
ws4py
wsproto
zope.interface

PyQt5
PyQt5-Qt5
PyQt5-sip
pyqt5-tools
